* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    background: rgb(20, 20, 20);
    color: rgb(170, 170, 170);
    font-family: "Poppins", sans-serif;
    max-width: 1250px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font_white {
    color: gainsboro;
}

.font_big {
    font-size: 3rem;
}

.heading {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
    margin-top: 4.5rem;
}

/*---- nav_section ----*/

header {
    background: rgb(20, 20, 20);
    position: sticky;
    top: 0;
    z-index: 4;
}

nav {
    height: 4rem;
}

nav .logo {
    font-size: 2rem;
    font-weight: 900;
}

.logo a {
    color: gainsboro;
    text-decoration: none;
}

ul li {
    list-style: none;
    display: inline;
}

ul li a {
    color: gainsboro;
    text-underline-offset: 0.5rem;
    text-decoration: none;
    margin-left: 1rem;
    padding: 1rem;
}

ul li a:hover,
ul li .active {
    color: white;
    text-decoration: underline;
}

nav i {
    display: none;
}

/*---- Home_section ----*/

.home_left {
    width: 34rem;
}

.home_left h1 {
    margin: 0.25rem 0;
}

h1 span {
    background: linear-gradient(90deg, #ff007f, #ff66cc, #ff99ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.25rem;
}

.home_left div span {
    line-height: 4rem;
}

#show_word {
    padding-right: 0.25rem;
    border-right: 3px solid;
    font-weight: 500;
}

.home_left button {
    background: rgb(44, 44, 44);
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    border: 2px solid gray;
    border-radius: 0.5rem;
    margin-top: 3rem;
    margin-right: 0.5rem;
    box-shadow: 0px 0px 2px white;
}

button a {
    text-decoration: none;
    color: white;
}

.home_left button:hover,
button:hover a {
    border-color: gainsboro;
}

.home_right {
    height: 500px;
    position: relative;
    margin-top: 3rem;
    margin-right: 2.5rem;
}

.home_right img {
    height: 100%;
    background: rgb(20, 20, 20);
    border-radius: 8px;
}

.home_right::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    z-index: -1;
    padding: 4px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    filter: blur(1rem);
}

/*----- About_section -----*/

#About_section>.flex-between:nth-child(2) img {
    display: none;
}

.about_left {
    margin-right: 2.5rem;
}

#About_section img {
    background: conic-gradient(#ff4545b2, #00ff99b2, #006affb2, #ff0095b2, #ff4545b2);
    height: 250px;
    width: 250px;
    object-fit: contain;
    border: 4px solid;
    border-radius: 50%;
    flex-shrink: 0;
}

#About_section h2 {
    margin: 1.5rem 0 0.5rem 0;
}

.language {
    margin: 0.5rem 0;
}

.bar {
    background: rgb(70, 70, 70);
    height: 10px;
    margin-top: 0.25rem;
}

.fill {
    height: 10px;
    background: rgb(144, 70, 70);
}

.education span {
    background: rgb(30, 30, 30);
    display: inline-block;
    width: calc(50% - 1rem);
    padding: 1rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
}

.education span:last-child {
    margin-right: 0;
}

.education span h3:first-child {
    font-weight: 900;
}

.education span h3 {
    height: 3.5rem;
}

.education p {
    font-weight: 500;
    height: 4.5rem;
    margin-top: 0.75rem;
}

.skill_box {
    display: flex;
    flex-wrap: wrap;
}

.skill_box span {
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;
    margin-left: 0;
    border-radius: 0.25rem;
    background: rgb(30, 30, 30);
}

/*----- Project_section -----*/

.project_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 1.25rem;
}

.project {
    background: rgb(30, 30, 30);
    width: 31.9%;
    text-align: center;
    border-radius: 0.75rem;
}

.project img {
    width: 100%;
    border-radius: 0.75rem 0.75rem 0 0;
}

.project p {
    margin: 0.25rem;
}

.project button {
    background: rgb(44, 44, 44);
    border: 2px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0.5rem 2rem 0;
    margin-bottom: 2rem;
}

/*----- Contact_section -----*/

.contact_box {
    padding-top: 1.5rem;
    padding-bottom: 7.5rem;
}

.contact {
    text-align: center;
}

.contact .icon {
    background: rgb(30, 30, 30);
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.icon i {
    font-size: 2.5rem;
}

.contact h3 {
    margin: 2rem 0 3rem 0;
}

.contact a {
    text-decoration: none;
    color: white;
    padding-bottom: 0.25rem;
}

/*----- footer_section -----*/

footer {
    /* display: inline-block; */
    text-align: center;
}

footer p {
    font-size: 12px;
    font-size: 0.875rem;
    margin: 3rem 0.5rem 2rem 0.5rem;
}